<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532583941316-lvtfljfkltltmp4984qqkngjpjm2eqlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532583941316-lvtfljfkltltmp4984qqkngjpjm2eqlf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>532583941316-31hf8rjcu0qho33haplud7kfm5nrls6r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXjQeiWhBA6bh1GyLqphnLy1MCPbc5R6w</string>
	<key>GCM_SENDER_ID</key>
	<string>532583941316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evecare.healthwellness</string>
	<key>PROJECT_ID</key>
	<string>evecare-e6ae9</string>
	<key>STORAGE_BUCKET</key>
	<string>evecare-e6ae9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532583941316:ios:c73a2186750210210db591</string>
</dict>
</plist>